#element{
    background-color: rgb(253, 209, 250);
    color:black;
    width: fit-content; 
    flex-grow: initial;
   border-radius: 5%;
}
.submit{
    background-color: rgb(130, 220, 232);
}












































